<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <!-- This is where our form will go. -->
        <div>{{form.username.label}}: <br> {{form.username()}}</div>
        {% if form.username.errors %}
        <ul class="errors">
            <!-- continue here with the for loop from the documentation.  -->
        </ul>
        {% endif %}
        <div>{{form.password.label}}: <br> {{form.password()}}</div>
        <div>{{form.submit}}</div>
    </div>
    <h1></h1>
</body>
</html>